In [1]:
%load_ext sql

In [2]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49

Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.4.49)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Requirement already satisfied: SQLAlchemy==1.4.49 in /usr/local/lib/python3.10/dist-packages (1.4.49)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.49) (3.0.3)

*ID와* PW와 호스트이름을 자신의 것으로 변경. 아래는 예로 동작하지 않음

In [4]:
%sql postgresql://admin:Qwerty12@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev

### Redshift Schema 설정

In [5]:
%%sql

CREATE SCHEMA raw_data;
CREATE SCHEMA analytics;
CREATE SCHEMA adhoc;
CREATE SCHEMA pii;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.

[]

In [6]:
%%sql

select * from pg_namespace;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
14 rows affected.

[('pg_toast', 1, None),
 ('pg_internal', 1, None),
 ('catalog_history', 1, None),
 ('pg_mv', 1, None),
 ('pg_automv', 1, None),
 ('pg_auto_copy', 1, None),
 ('pg_s3', 1, None),
 ('pg_catalog', 1, '{rdsdb=UCA/rdsdb,=U/rdsdb}'),
 ('public', 1, '{rdsdb=UCA/rdsdb,=UC/rdsdb}'),
 ('information_schema', 1, '{rdsdb=UCA/rdsdb,=U/rdsdb}'),
 ('raw_data', 100, None),
 ('analytics', 100, None),
 ('adhoc', 100, None),
 ('pii', 100, None)]

### Redshift User 설정

In [7]:
%%sql

CREATE USER gnoyh PASSWORD 'Qwerty12!';

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [8]:
%%sql

select * from pg_user;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
4 rows affected.

[('rdsdb', 1, True, True, True, '********', 'infinity', None),
 ('IAM:RootIdentity', 101, True, True, False, '********', None, None),
 ('admin', 100, True, True, False, '********', 'infinity', None),
 ('gnoyh', 102, False, False, False, '********', None, None)]

### Redshift Group 설정

In [9]:
%%sql

CREATE GROUP analytics_users;
CREATE GROUP pii_users;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [10]:
%%sql

CREATE GROUP analytics_authors;
ALTER GROUP analytics_authors ADD USER gnoyh;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [12]:
%%sql

ALTER GROUP analytics_users ADD USER gnoyh;
ALTER GROUP pii_users ADD USER gnoyh;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

### Redshift Role 설정

In [13]:
%%sql

CREATE ROLE staff;
CREATE ROLE manager;
CREATE ROLE external;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.

[]

In [14]:
%%sql

GRANT ROLE staff TO gnoyh;   -- 다른 역할(Role)을 지정 가능
GRANT ROLE staff TO ROLE manager;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [15]:
%%sql

 select * from SVV_ROLES;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
8 rows affected.

[(105809, 'sys:operator', 'rdsdb', None),
 (105810, 'sys:monitor', 'rdsdb', None),
 (105811, 'sys:dba', 'rdsdb', None),
 (105812, 'sys:secadmin', 'rdsdb', None),
 (105813, 'sys:superuser', 'rdsdb', None),
 (106456, 'staff', 'admin', None),
 (106457, 'manager', 'admin', None),
 (106458, 'external', 'admin', None)]

### COPY 명령으로 테이블 만들기

In [16]:
%%sql

CREATE TABLE raw_data.user_session_channel (
   userid integer ,
   sessionid varchar(32) primary key,
   channel varchar(32)
);

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [17]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.user_session_channel
FROM 's3://gnoyh-test-bucket/test_data/user_session_channel.csv'
credentials 'aws_iam_role=arn:aws:iam::851725315677:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [18]:
%%sql

SELECT * FROM raw_data.user_session_channel LIMIT 10;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(702, '8c97dbeee3b0d40ced7f514b99a93d93', 'Instagram'),
 (355, '4b01078e96f65f2ad6573ce6fecc944d', 'Google'),
 (654, '5d8c6ee0d8964e66a3225458f981522d', 'Naver'),
 (216, 'c23497bd62a8f8a0981fdc9cbd3c30d9', 'Instagram'),
 (233, '91ba4a4478a66bee9812b0804b6f9d1b', 'Facebook'),
 (371, '3d36c07721a0a5a96436d6c536a132ec', 'Facebook'),
 (788, '488e4104520c6aab692863cc1dba45af', 'Organic'),
 (113, '735ddec196a9ca5745c05bec0eaa4bf9', 'Instagram'),
 (768, '201d546992726352471cfea6b0df0a48', 'Facebook'),
 (694, '2c048d74b3410237704eb7f93a10c9d7', 'Organic')]

In [19]:
%%sql

CREATE TABLE raw_data.session_timestamp (
   sessionid varchar(32) primary key,
   ts timestamp
);

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [22]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.session_timestamp
FROM 's3://gnoyh-test-bucket/test_data/session_timestamp.csv'
credentials 'aws_iam_role=arn:aws:iam::851725315677:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [23]:
%%sql

SELECT * FROM raw_data.session_timestamp LIMIT 10;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[('5e34a2b4c23f4de585fb09a7f546f527', datetime.datetime(2019, 5, 7, 17, 32, 47, 707000)),
 ('2a8a8bde56a1a353f4e5fdd641f0b199', datetime.datetime(2019, 5, 11, 10, 38, 43, 33000)),
 ('46ba59a6994802347d659680875fb173', datetime.datetime(2019, 5, 13, 12, 28, 18, 890000)),
 ('1b486d7a5189ebe8d8c46afc64b0d1b4', datetime.datetime(2019, 5, 15, 12, 56, 50, 157000)),
 ('d97d404b6119214e4a7018391195240a', datetime.datetime(2019, 5, 19, 21, 45, 33, 167000)),
 ('6f5216f8d89b086c18298e043bfe48ed', datetime.datetime(2019, 5, 20, 18, 17, 45, 757000)),
 ('346401548fda241720bfad6c7f671255', datetime.datetime(2019, 5, 25, 16, 56, 46, 400000)),
 ('72c25197b6a491816d9a84b42d7205f0', datetime.datetime(2019, 5, 4, 15, 7, 26, 50000)),
 ('09859012c567eb2b02d10dddf624e9d3', datetime.datetime(2019, 5, 28, 16, 43, 42, 437000)),
 ('04bfb969d86db78edfa332363b59f79a', datetime.datetime(2019, 5, 29, 15, 25, 32, 983000))]

In [24]:
%%sql

CREATE TABLE raw_data.session_transaction (
    sessionid varchar(32) primary key,
    refunded boolean,
    amount int
)

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [26]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.session_transaction
FROM 's3://gnoyh-test-bucket/test_data/session_transaction.csv'
credentials 'aws_iam_role=arn:aws:iam::851725315677:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [27]:
%%sql

SELECT * FROM raw_data.session_transaction LIMIT 10;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[('00029153d12ae1c9abe59c17ff2e0895', False, 85),
 ('008909bd27b680698322c750c400e4b1', False, 13),
 ('0107acb41ef20db2289d261d4e34fd38', False, 16),
 ('018544a2c48077d2cc3ce3278ab1e805', False, 39),
 ('020c38173caff02033564200e0288aa9', False, 61),
 ('029591145fad252b28d844d823097400', False, 13),
 ('03190309cbcd7161a426abd4782bdcd2', False, 75),
 ('03a13aa6921aed989b31d92dc73b391a', False, 129),
 ('04215c1ad3aaff3ed175446d2ea3c0f2', False, 99),
 ('049b8c570e6cc662b4a3d7e3c86e236f', False, 24)]