In [1]:
%load_ext sql

In [2]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49

Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.4.49)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Requirement already satisfied: SQLAlchemy==1.4.49 in /usr/local/lib/python3.10/dist-packages (1.4.49)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.49) (3.0.3)

*ID와* PW와 호스트이름을 자신의 것으로 변경. 아래는 예로 동작하지 않음

In [3]:
%sql postgresql://admin:****@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev

### 사용자 그룹 권한 설정하기

#### analytics_authors

In [7]:
%%sql

GRANT ALL ON SCHEMA analytics TO GROUP analytics_authors;
GRANT ALL ON ALL TABLES IN SCHEMA analytics TO GROUP analytics_authors;

GRANT ALL ON SCHEMA adhoc to GROUP analytics_authors;
GRANT ALL ON ALL TABLES IN SCHEMA adhoc TO GROUP analytics_authors;

GRANT USAGE ON SCHEMA raw_data TO GROUP analytics_authors;
GRANT SELECT ON ALL TABLES IN SCHEMA raw_data TO GROUP analytics_authors;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.
Done.
Done.

[]

#### analytics_users

In [8]:
%%sql

GRANT USAGE ON SCHEMA analytics TO GROUP analytics_users;
GRANT SELECT ON ALL TABLES IN SCHEMA analytics TO GROUP analytics_users;

GRANT ALL ON SCHEMA adhoc to GROUP analytics_users;
GRANT ALL ON ALL TABLES IN SCHEMA adhoc TO GROUP analytics_users;

GRANT USAGE ON SCHEMA raw_data TO GROUP analytics_users;
GRANT SELECT ON ALL TABLES IN SCHEMA raw_data TO GROUP analytics_users;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.
Done.
Done.

[]

#### pii_users

In [9]:
%%sql

GRANT USAGE ON SCHEMA pii TO GROUP pii_users;
GRANT SELECT ON ALL TABLES IN SCHEMA pii TO GROUP pii_users;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

#### keeyong으로 로그인해서 raw_data 테이블을 수정하려 시도해보기

In [10]:
%%sql

ALTER USER gnoyh PASSWORD '****'

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [11]:
%sql postgresql://gnoyh:****@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev

In [12]:
%%sql

DELETE FROM raw_data.user_session_channel;

   postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://gnoyh:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.InsufficientPrivilege) permission denied for relation user_session_channel

[SQL: DELETE FROM raw_data.user_session_channel;]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Redshift Spectrum 테스트

In [14]:
%sql postgresql://admin:****@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev

In [15]:
%%sql

-- AWSGlueConsoleFullAccess
CREATE EXTERNAL SCHEMA external_schema
from data catalog
database 'myspectrum_db'
iam_role 'arn:aws:iam::851725315677:role/redshift.read.s3'
create external database if not exists;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://gnoyh:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [16]:
%%sql

CREATE TABLE raw_data.user_property AS
SELECT
  userid,
  CASE WHEN cast (random() * 2 as int) = 0 THEN 'male' ELSE 'female' END gender,
  (CAST(random() * 50 as int)+18) age
FROM (
  SELECT DISTINCT userid
  FROM raw_data.user_session_channel
);

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://gnoyh:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [17]:
%%sql

CREATE EXTERNAL TABLE external_schema.user_session_channel(
   userid integer ,
   sessionid varchar(32),
   channel varchar(32)
)
row format delimited
fields terminated by ','
stored as textfile
location 's3://gnoyh-test-bucket/usc/';

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://gnoyh:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [18]:
%%sql

SELECT gender, COUNT(1)
FROM external_schema.user_session_channel usc
JOIN raw_data.user_property up ON usc.userid = up.userid
GROUP BY 1;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://gnoyh:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
2 rows affected.

[('female', 48025), ('male', 53495)]

In [19]:
%%sql

vacuum full

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://gnoyh:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]