In [1]:
%load_ext sql

In [2]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49

Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.4.49)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Requirement already satisfied: SQLAlchemy==1.4.49 in /usr/local/lib/python3.10/dist-packages (1.4.49)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.49) (3.0.3)

*ID와* PW와 호스트이름을 자신의 것으로 변경. 아래는 예로 동작하지 않음

In [3]:
%sql postgresql://admin:****@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev

# nps.csv를 기반으로 월별 NPS 계산하기

In [20]:
%%sql

CREATE TABLE raw_data.nps (
    created_at timestamp,
    score smallint
);

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://gnoyh:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [21]:
%%sql

COPY raw_data.nps
FROM 's3://gnoyh-test-bucket/test_data/nps.csv'
credentials 'aws_iam_role=arn:aws:iam::851725315677:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://gnoyh:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [23]:
%%sql

SELECT * FROM raw_data.nps LIMIT 10;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://gnoyh:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(datetime.datetime(2019, 4, 13, 10, 57, 30), 10),
 (datetime.datetime(2019, 4, 13, 0, 3, 25), 10),
 (datetime.datetime(2019, 4, 13, 11, 25, 35), 10),
 (datetime.datetime(2019, 4, 13, 7, 1, 59), 9),
 (datetime.datetime(2019, 4, 13, 8, 3, 19), 8),
 (datetime.datetime(2019, 4, 13, 15, 40, 50), 10),
 (datetime.datetime(2019, 4, 13, 17, 2, 1), 10),
 (datetime.datetime(2019, 4, 13, 21, 40, 39), 10),
 (datetime.datetime(2019, 4, 13, 10, 59, 9), 0),
 (datetime.datetime(2019, 4, 13, 13, 41, 56), 9)]

In [24]:
%%sql

CREATE TABLE analytics.nps_summary AS
SELECT LEFT(created_at, 7) AS month,
  ROUND(SUM(CASE
    WHEN score >= 9 THEN 1
    WHEN score <= 6 THEN -1 END)::float*100/COUNT(1), 2) AS overall_nps
FROM raw_data.nps
GROUP BY 1;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://gnoyh:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [25]:
%%sql

SELECT * FROM analytics.nps_summary
ORDER BY 1;

 * postgresql://admin:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://gnoyh:***@default-workgroup.851725315677.us-west-2.redshift-serverless.amazonaws.com:5439/dev
12 rows affected.

[('2019-01', 2.36),
 ('2019-02', 30.54),
 ('2019-03', 52.91),
 ('2019-04', 53.0),
 ('2019-05', 54.52),
 ('2019-06', 65.02),
 ('2019-07', 64.51),
 ('2019-08', 67.71),
 ('2019-09', 37.95),
 ('2019-10', 53.29),
 ('2019-11', 61.29),
 ('2019-12', 65.99)]